* {
    box-sizing: border-box;
}
body {
    margin: 0%;
}
/* .card-info {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
} */
.card {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    width: 45%;
    height: 252px;
    left: 40px;
    top: 57px;
}
.card-path {
    position: absolute;
    width: 7px;
    height: 9px;
    left: 184px;
    top: 70px;
}
.card-img {
    position: absolute;
    width: 125px;
    height: 168px;
    left: 40px;
    top: 50px;
    border-radius: 5px;
}
.card-location {
    position: absolute;
    width: 40px;
    height: 10px;
    left: 195px;
    top: 60px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;

    color: #2B283A;
}
.card-link {
    position: absolute;
    width: 106px;
    height: 13px;
    left: 247px;
    top: 70px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #918E9B; 
}
.card-title {
    position: absolute;
    width: 326px;
    height: 40px;
    left: 184px;
    top: 70px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;

color: #2B283A;
}
.card-date {
    position: absolute;
    width: 319px;
    height: 11px;
    left: 184px;
    top: 125px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;

    color: #2B283A;
}
.card-description {
    position: absolute;
    width: 326px;
    height: 45px;
    left: 184px;
    top: 145px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */


    color: #2B283A;
}
.nav {
    position: absolute;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 0px;

background: #F55A5A;
}
.nav-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 47.5%;
    top: 16px;
}

.nav-title {
    position: absolute;
    width: 109px;
    height: 16px;
    left: 50%;
    top: 10px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.075em;

    color: #FFFFFF;
}